body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    align-items: center;
}
.navbar{
    background-color: #F5F0E9 !important;
}
.container a{
    color: #4B634A;
}
.container a:hover{
    color: #404A3D;
}
li{
    color: #4B634A;
}
.formMain{
    margin: auto;
    width: 100%;
    max-width: 300%;
    padding: 20px;
}
.formMain input[type="text"]{
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    background-color: #404A3D;
}
footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #FDFDFD;
    text-decoration: none;
}
footer .copyright:hover{
    color: #ddd;
}
.card{
    float: none;
    align-items: center;
    max-width: 300px;
    border: 0;
}